.menu-item {
    color: #696969;
    border-bottom: 1px solid #f7f7f7;
}

.menu-item:last-child {
    border-bottom: none;
}
.menu-item:hover {
    color: #507cfb
}

.menu-link {
    display: block;
    padding: 15px 0;
    color: inherit;
    text-decoration: none;
}
