.menu {
    position: absolute;
    width: 400px;
    border-radius: 4px;
    left: 0;
    bottom: -300px;
    padding: 15px 15px;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    animation-duration: 1s;
    animation-name: show;
}

.menu::before {
    content: " ";
    position: absolute;
    top: -19px;
    left: 20px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent darkgrey transparent ;
}

.menu::after {
    content: " ";
    position: absolute;
    top: -19px;
    left: 20px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent white transparent ;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


